/* 
    Created on : Sep 14, 2026, 5:14:57 p.m.
    Author     : Daniel Haddadeen
*/

.root {
    -fx-background-color: #f9fafb;
}

.label {
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-font-size: 11px;
    -fx-text-fill: #374151;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 4, 0, 0, 2);
}

.button {
    -fx-background-radius: 6px;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-text-fill: #1a1a1a;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 4, 0, 0, 2);
}

.text-field {
    -fx-background-color: #d1d5db, white; 
    -fx-background-insets: 0, 1;
    -fx-background-radius: 6px, 5px;
    -fx-text-fill: #1f2937;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
}

.text-field:hover {
    -fx-background-color: #404040, white;
}

.text-field:focused {
    -fx-background-color: #000000, white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 15, 0, 0, 0);
}

